body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    color: #444;
    font-family: helvetica;
    max-width: 100%;
    padding: 0 30px;
    margin: 0;
}

.main-content {
    flex-grow: 1;
}

header {
    margin-bottom: 30px;
}

footer {
    color: #999;
    border-top: 2px #222 solid;
}

header a {
    color: #999;
    margin-right: 12px;
    text-decoration: none;
}

.portrait {
    width: 300px;
}

input {
    border: 1px solid #cccccc;
    padding: 5px;
}

button {
    cursor: pointer;
    border: 1px solid #888;
    background: #999;
    color: white;
    padding: 5px;
}

button:hover {
    border: 1px solid #555;
    background: #666;
}